/*Colores*/
h1{
    color: #F26052;
    margin: 10px;
    text-align: center;
}

h2{
    color: #561D72;
}

p{
    color: #3D1452;
    text-align: center;
    font-size: 16px;
}

a{
    color: #561D72;
    padding: 5px;
}