/*Tipografias*/
*{
    font-family: 'Poppins', sans-serif;

}
.headType{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #F26052;
    text-align: left;
    padding: 20px 50px;
}

.subType{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F26052;
    text-align: center;
    text-transform: uppercase;
}

.bodyType{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #561D72;
    text-align: justify;
}

.buttonType{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #F26052;
    text-align: center;
    text-transform: uppercase;
}