//Importacion
@import "reseteo";
@import "colores";
@import "tipografias";
@import "animaciones";
@import "barraNav";
@import "pieDePagina";

/*Home*/
#content{
    background-color: #fdfdfd;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.landtext{
    text-align: center;
    width: 500px;
    align-self: center;
}

/*Blog*/
article{
    background-color: #fafafa;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 500px;
}

.articleflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*Educacion*/
#eduGrid{
    height: 800px;
    display: grid;
    grid-template-areas: "head nav" "main main" "foot foot";
    grid-template-columns: 350px 350px;
    grid-template-rows: 350px 350px 350px;
    grid-column-gap: 20px;
    justify-content: center;
    div{
        margin-top: 20px;
    }
    img{
        height: 300px;
    }
}

.a{ grid-area: head; }
.b{ grid-area: nav; }
.c{ grid-area: main; }
.d{ grid-area: foot; }

/*Eventos*/

/*Small*/
.livegrid{
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img{
        height: 250px;
        border: solid 1px black;
        border-radius: 10px;
    }
    div{
        text-align: center;
    }
}

/*Medium*/
@media screen and (min-width: 768px){
    .livegrid{
    height: 1000px;
    display: grid;
    grid-template-areas: 
    "proxEvento proxEvento"
    "evento1 evento2"
    "evento3 evento4";
    grid-template-columns:50vw 50vw;
    grid-template-rows: auto 350px 350px;
    grid-row-gap: 20px;
    }
    .proxEvento{ grid-area: proxEvento;
        img{
        height: 660px;}}
    .e1{ grid-area: evento1;}
    .e2{ grid-area: evento2;}
    .e3{ grid-area: evento3;}
    .e4{ grid-area: evento4;}
}

/*Large*/
@media screen and (min-width: 1024px){
.livegrid{
    height: 800px;
    margin: 20px 0px;
    display: grid;
    grid-template-areas: 
    "proxEvento evento1 evento2" 
    "proxEvento evento3 evento4";
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 350px 350px;
    grid-row-gap: 60px;
    justify-content: space-evenly;
    img{
        border: solid 1px black;
    }
    div{
        text-align: center;
    }
}
.proxEvento{ grid-area: proxEvento;
    img{
    height: 660px;}}
.e1{ grid-area: evento1;}
.e2{ grid-area: evento2;}
.e3{ grid-area: evento3;}
.e4{ grid-area: evento4;}
}


